[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  excludesfile = /Users/ben/.gitignore_global
  autocrlf = input
[user]
  name = runbmp
  email = 9081154+runbmp@users.noreply.github.com
[includeIf "gitdir:~/Documents/work/"]
  path = ~/Documents/work/.gitconfig
